<div id="mySidenav" class="sidenav">

  <a href="index.html" target="blank">Hjem</a>
  <a href="forelesningsplan.html">Forelesningsplan og seminarer</a>
  <a href="eksamen.html">Eksamen og vurdering</a>
  <a href="prosjekt.html">Prosjekt - semesteroppgave</a>
  <a href="https://github.com/uit-sok-3023-v25/uit-sok-3023-v25.github.io/blob/main/Kompendium.pdf" target="_blank">Kompendium</a>

  <!-- Add some vertical space -->
  <br> <!-- This creates a small space -->

  <!-- Title for the lectures -->
  <a style="margin: 10px 0;">Forelesninger og oppgaver</a>

  <!-- Link for Forelesning 1-6 -->
  <a href="https://github.com/uit-sok-3023-v25/uit-sok-3023-v25.github.io/tree/main/notebooks">Forelesninger og kodeøkter</a>
  <a href="https://github.com/uit-sok-3023-v25/uit-sok-3023-v25.github.io/tree/main/oppgaver">Oppgaver</a>
  <a href="https://github.com/uit-sok-3023-v25/uit-sok-3023-v25.github.io/blob/main/Eksamen_SOK3023_V25.pdf" target="_blank">Muntlig eksamen</a>

  <!-- Add some vertical space -->
  <br> <!-- This creates a small space -->

  <!-- Title for the anbefalte læringsressurser -->
  <a style="margin: 10px 0;">Anbefalte læringsressurser</a>
  <a href="https://www.youtube.com/watch?v=aircAruvnKk&list=PLZHQObOWTQDNU6R1_67000Dx_ZCJB-3pi">3Blue1Brown - videoserie</a>
  <a href="https://www.3blue1brown.com/topics/neural-networks">Interaktiv nettside om ML</a>
  <a href="http://neuralnetworksanddeeplearning.com/">Gratis nettressurs om nevrale nettverk</a>
  <a href="https://scikit-learn.org/stable/">Ryddig oversikt/intro til maskinlæring i Python</a>
  <a href="https://adamharley.com/nn_vis/cnn/2d.html">Intuitiv forklaring av CNN's</a>
  <a href="https://www.youtube.com/watch?v=YCzL96nL7j0">Video om LSTM</a>

</div>
